<html>
    <head>
        <meta charset="UTF-8">
        <title>Google Calender</title>
    </head>
    <body>
        <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar&access_type=offline&include_granted_scopes=true&response_type=code&state=state_parameter_passthrough_value&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Ftest&client_id=37831675488-lvf4hlqr6auo5kvocpiifh70dap2r4uo.apps.googleusercontent.com">
            request URIII
        </a>
    </body>
</html>