<html>
<head>
    <meta charset="UTF-8">
    <title>Google Calender</title>
</head>
<body>
    <form id="acform" action="https://oauth2.googleapis.com/token" method="post"
          enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="code" value="{{code}}">
        <input type="hidden" name="client_id" value="499264841555-1kqekv3g1khc8jn5848cn1i8pcp12t29.apps.googleusercontent.com">
        <input type="hidden" name="client_secret" value="415QTIStyKwYdnz_Yk0ES6Xz">
        <input type="hidden" name="redirect_uri" value="http://localhost:8080/receiveAC">
        <input type="hidden" name="grant_type" value="authorization_code">
    </form>
    <script type="text/javascript">
        this.document.getElementById("acform").submit();
    </script>
</body>
</html>